/* src/pages/Dashboard/Dashboard.css */
.dashboard-container {
  padding: 2rem;
  padding-top: 7rem; /* Space for the fixed navbar */
  padding-bottom: 60px; /* Space for the fixed footer */
  text-align: center;
  background-color: #ffffff;
  min-height: calc(100vh - 60px); /* Adjust for the height of the footer */
  box-sizing: border-box;
  margin-left: 250px; /* Adjust for Sidebar width */
  margin-right: 20px; /* Add some space on the right side */
}

.dashboard-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.dashboard-container p {
  font-size: 1.2rem;
  color: #666;
}
