/* src/pages/Dashboard/Dashboard.css */
.dashboard-container {
  padding: 2rem;
  padding-top: 7rem; /* Space for the fixed navbar */
  padding-bottom: 60px; /* Space for the fixed footer */
  text-align: center;
  background-color: #ffffff;
  min-height: calc(100vh - 60px); /* Adjust for the height of the footer */
  box-sizing: border-box;
  margin-left: 250px; /* Adjust for Sidebar width */
  margin-right: 20px; /* Add some space on the right side */
}

.dashboard-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.dashboard-container p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem; /* Add space between paragraph and button */
}

.dashboard-button {
  padding: 12px 24px;
  background-color: #4CAF50; /* Green button */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard-button:hover {
  background-color: #45a049; /* Darker green on hover */
}
